<div class="head">
  <h3>Inventory-Storer</h3> 
  </div>
<hr>   	
<div class="row Dashbcontent">
    <div class="col-lg-6 Dashb1">
        <h5>Current Task:</h5><br/>
        <table class="table table-sm table-hover table-bordered">
          <thead><tr>
            <th>Doc No</th>
          </tr>
        </thead>
        <tbody><tr>
            <td></td>
        </tr></tbody>  
        </table>
        <h5>Overdue Task:</h5><br/>
        <table class="table table-sm table-hover table-bordered">
          <thead><tr>
            <th>Doc No</th>
          </tr>
        </thead>
        <tbody><tr>
            <td></td>
        </tr></tbody>  
        </table>
       </div>
    <div class="col-lg-6 Dashb2">
        <div class="form-group">
            <label class="col-sm-4">User stat:</label> 
          <select id="da1"></select>
        </div>
        <ul style="list-style-type:none">
          <li>Total Number of Doc Id Assigned:</li>
          <li>Total Number of Doc Id Cleared:</li>
          <li>Average Storing Time per Doc Id Request:</li>
        </ul>  
        