<div class="head">
    <h3>Inventory-Reception Queue<br></h3> 
    </div>
  <hr> 
  <div class="container-fluid main-content">   
  <div  class="row adm1">
      <div class="col-lg-4 Admwidget1">
          <form class="form-horizontal">
      <div  class="form-group">
          <label class="col-sm-4">Source:</label> 
        <select id="aw1" ><option></option></select>
      </div>
      <div class="form-group">
          <label class=" col-sm-4">Source type:</label> 
          <select id="aw1" ><option></option></select>
      </div>
      <div class="form-group">
          <label class=" col-sm-4">Source name:</label> 
          <select id="aw1" ><option></option></select>
      </div>
      <div class="form-group">
          <label class=" col-sm-4">Ref type:</label> 
          <select id="aw1" ><option></option></select>
      </div>
      <div class="form-group">
          <label class=" col-sm-4">Ref Number:</label> 
          <select id="aw1" ><option></option></select>
      </div>
      <div class="form-group">
          <label class="  col-sm-4">Delivered by:</label>
          <select id="aw1" ><option></option></select>
      </div>
      <div class="form-group">
          <label class=" col-sm-4">Mover:</label>
          <select id="aw1" ><option></option></select>
      </div>
      <div class="form-group">
        <label class=" col-sm-4">New Mover:</label> 
      <input size="23" type="text">
    </div>
      <div class="form-group">
        <label class=" col-sm-4">Address 1:</label> 
      <input size="23" type="text">
    </div>
    <div class="form-group">
        <label class=" col-sm-4">Address 2:</label> 
      <input size="23" type="text">
    </div>
    <div class="form-group">
        <label class=" col-sm-4">Country:</label> 
        <select id="aw1" ><option></option></select>
    </div>
    <div class="form-group">
        <label class=" col-sm-4">City:</label> 
        <select id="aw1" ><option></option></select>
    </div> 
    <div class="form-group">
        <label class=" col-sm-4">Postcode:</label> 
      <input size="23" type="text">
    </div>
    <div class="form-group">
        <label class="col-sm-4">Contact#:</label> 
      <input size="23" type="text">
    </div>
      <div class="form-group">
          <label class="col-sm-4">Doc Id:</label> 
        <input size="23" type="text">
      </div>
      <div class="form-group">
          <label class="col-sm-4">Sender Name:</label> 
        <input size="23" type="text">
      </div>
      <div class="form-group">
        <label class="col-sm-4">Sender Phone:</label> 
      <input size="23" type="text">
    </div></form>
        </div>
      <div class="col-lg-4 Admwidget2">
        <div class="form-group">
          <label>Remark:</label>
        </div>
        <div class="form-group">
          <textarea cols="45" rows="5" style="overflow-y:scroll;"></textarea>
         </div>
         <div class="form-group">
           <label>Attacment Document</label>
         </div> 
           <div class="form-group">
          <div class="input-group input-file">
            <span class="input-group-btn"><button class="btn btn-default btn-choose" type="button">...</button>
            </span>
              <input type="text" class="form-control">
            </div> 
          </div>
          <div class="form-group">
          <div class="input-group input-file">
            <span class="input-group-btn"><button class="btn btn-default btn-choose" type="button">...</button>
            </span>
              <input type="text" class="form-control">
            </div> 
          </div>
          <div class="form-group">
          <div class="input-group input-file">
            <span class="input-group-btn"><button class="btn btn-default btn-choose" type="button">...</button>
            </span>
              <input type="text" class="form-control">
            </div> 
          </div>
          <div class="form-group">
             <div class="btn-group">
              <button type="button" class="btn btn-primary">Enter Queue</button>
              <button type="button" class="btn btn-primary">Reset</button>
            </div>
          </div>
      </div>
      <div class="col-lg-4 AdminWidget3">
        <h5 class="text-center">Queue Reception List</h5><br/>
        <table class="table table-sm table-hover  table-bordered ">
          <thead><tr>
            <th>Queue Pos</th>
            <th>Doc Id</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody><tr>
            <td></td>
            <td></td>
            <td></td>
        </tr></tbody>  
        </table>
          </div>
        </div>
    </div>
  