.Dashb2{
  padding-top: 10px;
  padding-left: 10px;
  border-width:5px;  
  border-style:groove;
}
.Dashb1{
  padding-top: 10px;
  padding-left: 10px;
  border-width:5px;  
  border-style:groove;
}
  h3{
    font-family: Cambria, Georgia;
    color: #fff;
  }
    
    .Admwidget2{
      padding-left: 10px;
      padding-right: 10px;
    }
    
    .Admwidget1{
        
      margin-left: -5px;
      padding-left: 5px;
      padding-top: 20px;
      padding-bottom: 10px;
    }
    #aw1{
      width: 200px;
      height: 25px;
    }
    
    #aw2{
      width: 20px;
      height: 25px;
    }
.checkForm{
  text-align: left;
}
.buttonform1{
    text-align: center;
  }