<div class="container-fluid header">
  <header>
  <div class="row">
<div class="col-md-4"><img [src]="'assets/img/logo.png'" alt="image">
</div>
</div>
</header></div>
<hr class="style2">
<div class="container">
    <router-outlet></router-outlet>
  </div>

  <hr class="style2"> 
  <div class="container-fluid header">
    <footer>
    <div class="footer-bottom footer">
      <div class="container text-center">
              <img style="width:38px;height:50px;" [src]="'assets/img/GSPE logo.png'" alt="image"><span style="color: white">Graha Sumber Prima Elektronik. All Rights Reserved - 2018</span><span> | </span><span style="color: white">Contact Helpdesk</span><span> | </span><span style="color: white"> User Guide</span>
      </div>
    </div>
    </footer></div>
