<p>Login as</p>
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
     <li><a class="navbar-link" [routerLink]="['../manager/dashboard']">Manager</a></li> <br>
      <li><a class="nav-link"  [routerLink]="['../admin/dashboard']">Admin</a></li><br>
      <li><a class="nav-link"  [routerLink]="['../receiver/dashboard']">Receiver</a></li><br>
      <li><a class="navbar-link" [routerLink]="['../handler/dashboard']">Handler</a></li><br>
      <li><a class="nav-link"  [routerLink]="['../storer/dashboard']">Storer</a></li><br>
      <li><a class="navbar-link" [routerLink]="['../ppic/dashboard']">PPIC</a></li><br>
      <li><a class="nav-link"  [routerLink]="['../picker/dashboard']">Picker</a></li><br>
  </div>
</nav>