<div class="head">
  <h3>Item to Handle-List<br></h3> 
  </div>
<hr> 
<div class="container-fluid main-content">
  <div class="container"><div class="row"><div class="col-lg-4">
      <form class="form-horizontal checkForm">
          <div  class="form-group">
              <label class=" col-sm-4">Doc Id:</label> 
            <select id="aw1" ><option></option></select>
          </div>
         </form>
  </div></div></div>   
      <table class="table table-sm table-hover  table-bordered ">
        <thead><tr>
          <th>Doc No</th>
          <th>Port Number</th>
          <th>Port Name</th>
          <th>Port Desc</th>
          <th>QTY PO</th>
          <th>QTY Send</th>
          <th>Balance</th>
          <th>QTY Rec</th>
          <th>UOM</th>
          <th>Handler</th>
          <th>Attachment</th>
          <th>Rack</th>
          <th>Ack</th>
          <th>Storer</th>
        </tr>
      </thead>
      <tbody><tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr></tbody>  
      </table>
      <div class="form-group buttonform1">
        <div class="btn-group">
         <button type="button" class="btn btn-primary">Save</button>
         <button type="button" class="btn btn-primary">Cancel</button>
       </div>
     </div>
    </div>
