.Dashb2{
    padding-top: 10px;
    padding-left: 10px;
    border-width:5px;  
    border-style:groove;
}
.Dashb1{
    padding-top: 10px;
    padding-left: 10px;
    border-width:5px;  
    border-style:groove;
}
#da1{
    width: 100px;
    height: 25px;
  }

li{
    padding: 5px;
}

.btn-outline-success{
    color: rgb(77, 20, 20); 
    font-family: Cambria, Georgia; 
}
.head{
    margin-top: 5px;
    padding: 5px;
    background-color: #3F729B;
    box-shadow: 10px 10px 5px grey;
}

h3{
    font-family: Cambria, Georgia;
    color: #fff
    
}