<div class="head">
    <h3>Create a Transfer Request<br></h3> 
    </div>
  <hr> 
  <div class="container-fluid main-content">
    <div class="container"><div class="row">
      <div class="col-lg-4">
        <form class="form-horizontal checkForm">
            <div  class="form-group">
                <label class="radio-inline">
                    <input type="radio">Pick Id
                  </label>
                  <label class="radio-inline">
                    <input type="radio">Doc Id
                  </label>
            </div>
            <div  class="form-group">
              <select id="aw3"><option></option></select>
            </div>
            <div class="form-group">
                <label class="col-sm-4 ">Handover from:</label> 
                <select id="aw1" ><option></option></select>
            </div>
            <div class="form-group">
                <label class=" col-sm-4 ">Handler:</label> 
                <select id="aw1" ><option></option></select>
            </div>
            <div class="form-group">
                <label class="col-sm-4 ">Handler using:</label> 
                <select id="aw1" ><option></option></select>
            </div>
           </form>
           <div class="form-group buttonform">
              <div class="btn-group">
               <button type="button" class="btn btn-primary">Add Grid</button>
               <button type="button" class="btn btn-primary">Remove</button>
             </div>
           </div>
    </div>
    <div class="col-lg-4">

    </div>
    <div class="col-lg-8">
        <h5 class="text-center">Queue Reception List</h5><br/>
        <table class="table table-sm table-hover  table-bordered ">
            <thead><tr>
              <th>Queue Pos</th>
              <th>Transfer Req Id</th>
              <th>Doc Id</th>
            </tr>
          </thead>
          <tbody><tr>
              <td></td>
              <td></td>
              <td></td>
          </tr></tbody>  
          </table>
    </div>
  </div>   
        <table class="table table-sm table-hover  table-bordered ">
          <thead><tr>
            <th>Select</th>
            <th>Doc No</th>
            <th>Port Number</th>
            <th>Port Desc</th>
            <th>Qty Rec</th>
            <th>Send Using</th>
            <th>From</th>
            <th>To</th>
            <th>Attachment</th>
            <th>Handover</th>
          </tr>
        </thead>
        <tbody><tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr></tbody>  
        </table>

        <div class="form-group buttonform1">
          <div class="btn-group">
           <button type="button" class="btn btn-primary">Save</button>
           <button type="button" class="btn btn-primary">Cancel</button>
         </div>
       </div>
      </div>
  